### Import the python modules

In [16]:
import numpy as np
import pandas as pd
import datetime
import os

In [1]:
pwd

'C:\\Users\\System Administrator\\Desktop\\PDS-Project\\python_files'

In [2]:
path = 'C:\\Users\\System Administrator\\Desktop\\PDS-Project\\data'

### Read the data files

In [23]:
fed1 = pd.read_csv("../data/DEF survey (Responses) - Form Responses 1.csv", header = 0,\
                  names = ['ts','age','sex','work','phy_ff','phy_health','phy_bw', 'phy_ex', 'meal',
              'height','weight','exercise','fruit','veg','cook','spend','income','gymtime',
              'disease','review','rate'])
fed2 = pd.read_csv("../data/DEF2 (Responses) - Form Responses 1.csv", header = 0, \
                  names = ['ts','age','sex','work','phy_ff','phy_health','phy_bw', 'phy_ex', 'meal',
              'height','weight','exercise','fruit','veg','cook','spend','income','gymtime',
              'disease','review','rate'])

In [24]:
fed1.head()

,ts,age,sex,work,phy_ff,phy_health,phy_bw,phy_ex,meal,height,...,exercise,fruit,veg,cook,spend,income,gymtime,disease,review,rate
0,10/19/2021 18:37:01,23,Male,Sedentary,5,10,8,1,1,7.0,...,Do not interested,1,3,5,30000,12345,2 Hour,FEVER,Good,5
1,10/19/2021 20:05:43,21,Male,Moderate,7,8,6,7,4,6.0,...,Others,1,2,1,1000,50000,Not at all,No,NaN,4
2,10/19/2021 20:18:40,23,Male,Moderate,6,9,8,8,4,5.6,...,Others,1,2,4,300,6500,1 Hour,No,NaN,5
3,10/20/2021 11:03:47,21,Male,Moderate,7,6,7,8,5,6.0,...,"Walk, Run, Outdoor Games, Others",1,2,2,3000,50000,Not at all,No,NaN,5
4,10/20/2021 11:06:04,23,Male,Moderate,6,9,8,8,4,5.6,...,"Walk, Weight lifting, Outdoor Games, Others",0,2,3,500,6500,1 Hour,No,It's really good.,5

In [25]:
fed2.head()

,ts,age,sex,work,phy_ff,phy_health,phy_bw,phy_ex,meal,height,...,exercise,fruit,veg,cook,spend,income,gymtime,disease,review,rate
0,10/20/2021 11:25:38,24.0,Male,Moderate,2,2,3,3,3,5.70,...,Others,0,1,1,1000,12000,Not at all,No,NaN,4
1,10/20/2021 11:26:15,24.0,Female,Moderate,2,3,2,3,4,5.40,...,"Walk, Dance, Outdoor Games, Others",0,2,1,0,10000,Not at all,No,NaN,3
2,10/20/2021 11:30:49,20.0,Male,Hardwork,5,10,10,10,4,5.50,...,"Walk, Run",3,5,5,0,30000,Not at all,No,Very goodod survey it was.,5
3,10/20/2021 11:39:07,20.0,Male,Moderate,3,3,2,1,5,5.11,...,"Walk, Weight lifting",1,2,1,200,90000,Not at all,No,‚úåüèª,5
4,10/20/2021 11:39:28,20.0,Male,Moderate,2,2,4,4,3,5.60,...,"Walk, Weight lifting, Others",1,2,0,0,10000,1 Hour,Sinusitis,NaN,3

In [26]:
print(fed1.shape, fed2.shape)

(45, 21) (213, 21)

### Concate two files

In [27]:
fed = pd.concat([fed1,fed2])
fed.shape

(258, 21)

In [28]:
fed.dtypes

ts             object
age           float64
sex            object
work           object
phy_ff          int64
phy_health      int64
phy_bw          int64
phy_ex          int64
meal           object
height        float64
weight        float64
exercise       object
fruit           int64
veg             int64
cook            int64
spend           int64
income          int64
gymtime        object
disease        object
review         object
rate            int64
dtype: object

### Date time format change

In [37]:
fed.ts = datetime.datetime.strptime(fed.ts.str, "%m/%d/%Y %H:%M:%S")

TypeError: strptime() argument 1 must be str, not StringMethods

In [36]:
print(fed.ts.str)

<pandas.core.strings.accessor.StringMethods object at 0x000002C05BDD6370>

### Checking for NA values

### Descripive statistics of the data

### Drop the unnessery columns